.chartist-tooltip {
 opacity: 0;
    min-width: 50px;
    padding: 0.5em 1em;
    background: #3454f5;
    color: #fff;
    display: initial;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
	border-radius:3px;
}

.chartist-tooltip.tooltip-show {
    opacity: 1; 
}

.ct-area, .ct-line {
  pointer-events: none; }